<%- include ('../../partials/header.ejs') %>
<div class="my-container d-flex justify-content-center align-items-center">
    <div>
        <h1 class="text-center text-danger error">500</h1>
        <h1 class="text-center text-info" style="font-size: 50px">Internal Server Error!</h1>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>