<%- include ('../../partials/header.ejs') %>

<div class="container my-container">
    <h1 class="text-center display-2">Welcome to your Dashboard</h1>
</div>

<%- include ('../../partials/footer.ejs') %>