<%- include ('../partials/header.ejs') %>
<div class="container my-container">
    <h1 class="text-center display-4 text-info">Welcome To My Application</h1>

    <div class="row mt-5">
        <div class="col-md-6 mt-5">
            <div class="card card-body mt-5">
                <h5 class="text-center text-success">About This Project</h5>
                <p class="text-secondary mt-2" style="line-height: 1.6; text-align: justify;">This project is created only for learning purpose. This is a backend project. So, I focused on backend features in this project. Style isn't main thing for this project. As a Backend technology I used node js for this project. It's first project with NodeJs. <br><br> Thank You.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h5 class="text-center text-success">Project Features</h5>
                    <ul>
                        <li>Sign-up System</li>
                        <li>Login System</li>
                        <li>Change Password</li>
                        <li>Create Profile</li>
                        <li>Update Profile</li>
                        <li>Create Post</li>
                        <li>Update Post</li>
                        <li>Delete Post</li>
                        <li>Like Post</li>
                        <li>Dislike Post</li>
                        <li>Comment Post</li>
                        <li>Bookmark Any Post</li>
                        <li>Reply Comment</li>
                        <li>Reply From User Dashboard</li>
                        <li>Alert Message</li>
                        <li>Searching System</li>
                        <li class="text-muted">Up Coming More</li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body mt-5">
                <h5 class="text-center text-success">About Developer</h5>
                <p class="text-secondary mt-2" style="line-height: 1.6; text-align: justify;">My name is Fokrul Islam Mehedi. I'm a student of computer science and technology department at lakshmipur polytechnic institute.</p>
                <div class="d-flex justify-content-between">
                    <a href="https://github.com/FIMehedi">Checkout Github Projects</a>
                    <a href="https://facebook.com/fimehedi.coder">Connect with facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>


</body>

</html>